* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #f5d76e;
  text-align: center;

  background-image: url("../visuals/hogwarts-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}