* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100vh;
}

body {
  background: pink;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-height: 100%;
  padding: 0;
  text-align: center;
}
