
.container {
  background: white;
  color: black;
  margin: 2.5rem auto;
  width: 300px;
  padding: 0.5rem;
  border-radius: 10px;
}

.error {
  color: #4b1c1c;
  background-color: #f3e9dc;
  border-left: 5px solid #7f0909;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-family: "Georgia", serif;
}

